# IDEA Ignores http://web.archive.org/web/20120629000805/http://devnet.jetbrains.net/docs/DOC-1186
# *.iml
# *.ipr
*.iws
.idea/
local.properties
.idea/workspace.xml
.idea/tasks.xml

# Generic Android ignores
bin/
target
gen/
